{% extends 'index/intro/intro_base.html' %}
{% block TITLE %}媒体部{% endblock %}
{% block DEPART_NAME %}媒体部{% endblock %}
{% block content %}
    <p>媒体部由逆光摄影组、文编组以及主持人队三个部分组成.主要职责具体如下:</p>
    <p>文编组:</p>
    <p>采访报道社联社团的各大活动，负责更新社团网的新闻板块;</p>
    <p>与社团建立社团通讯员制度，合作挖掘素材，制作专题报道;</p>
    <p>主要负责社联人人网的运行</p>
    <p>逆光摄影组:</p>
    <p>对日常社联社团大型活动进行图片和影像的报道，制作视频资料;</p>
    <p>为社联社团提供视频技术支持;</p>
    <p>负责日常专题《社团网视》的制作。</p>
    <p>主持人队:</p>
    <p>为社联、社团活动提供主持人;</p>
    <p>大型活动前召开新闻发布会，向学校公报和提供消息;</p>
{% endblock %}