{% extends 'index/intro/intro_base.html' %}
{% block TITLE %}社团部{% endblock %}
{% block DEPART_NAME %}社团部{% endblock %}
{% block content %}
    <p>社团部直接与社团联系主要负责对全校合法注册社团的引导，协调，服务，管理工作。主要职责具体如下：</p>
    <p>发展组：</p>
    <p>1. 与外联信息中心合作，引导社团参与校外交流活动</p>
    <p>2. 汇总社团中心了解到的信息，总结社团发展的问题，讨论出解决方案并上报主席团</p>
    <p>3. 定期召开面向社团的会议，促进社团与社联的直接沟通</p>
    <p>活动组:</p>
    <p>1.负责人部分社联主办的活动的策划与组织，在社联承办的大型活动中起组织领导作用</p>
    <p>2. 负责优秀社团的精品活动，全面参与活动的策划，组织，开展及后期总结工作</p>
    <p>常务组：</p>
    <p>1. 负责社团的基本资料，工作计划，活动策划的收集管理，建立社团资料库</p>
    <p>2. 负责部门内部各类制度的编写及部门的人事考核</p>
    <p>3. 负责部门内部的财务及值班等常规工作</p>
    <p>4.开展部门内有组织的干训及交流活动</p>
    <p>5. 负责部门内部各项资料的整理和更新，制作每学期的社团大事记及部门总结</p>
    <p>6. 定期与宣传部媒体部合作，更新社团网上信息，制作社团宣传资料</p>
    <p>7. 定期向会长发布调查问卷，并及时进行收集和反馈</p>
{% endblock %}