{% extends 'index/intro/intro_base.html' %}
{% block TITLE %}社团外联企划部{% endblock %}
{% block DEPART_NAME %}社团外联企划部{% endblock %}
{% block content %}
    <p>社团外联企划部是为了协助学校社团完成各种活动同时提升社会各界对与我校社团活动与社团文化产业关注度的协助中介小组。肩负着为社团社团争取活动资金与培养社团骨干精英的重要职责。主要工作职责具体如下：</p>
    <p>1. 协助社团完成各类活动的组织和策划</p>
    <p>2. 与企业联系，为缺乏自己资金支持的优秀社团活动争取商业赞助</p>
    <p>3. 与企业沟通并建立长期合作关系，为社团的发展提供平台，引导优秀社团文化产业走出校园，开拓市场</p>
    <p>4. 加强各社团外联能力，通过与社团部的合作，规范，引导社团外联，逐步培养社团外联的自主性</p>
    <p>5. 负责精英社团骨干的筛选与培养，提升社团人员的整体素质，为社团的未来发展奠定基础</p>
{% endblock %}