{% extends 'index/intro/intro_base.html' %}
{% block TITLE %}宣传部{% endblock %}
{% block DEPART_NAME %}宣传部{% endblock %}
{% block content %}
    <p>学生社团联合会宣传部是社联形象的总设计师。宣传部协调运用各种传播策略，塑造社联美好形象，推广社联优质文化，主要职责具体如下:</p>
    <p>1. 学生社团联合会以及全校性的大型社团活动的统一宣传策划;</p>
    <p>2. 社团文化节的IC形象设计，制定对于社团的统一的宣传管理办法，以加大社团文化节的影响力，增加其文化内涵;</p>
    <p>3. 社团网版面设计及美工工作;</p>
    <p>4. 学生社团联合会及社团日常所做大型以及精品活动的宣传展示;</p>
    <p>5. 社联宣传栏的日常维护和规则的制定;</p>
    <p>6. 学生社团联合会专用海报、请柬等系列物品的设计、制作，并负责学生社团联合会专用海报、公共展板的借用、发放和收回;</p>
    <p>7. 负责专业设计人员和对宣传有兴趣的设计人员的相关培训;</p>
{% endblock %}