<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>部门总览</title>
    <link rel="stylesheet" href="/static/index/css/intro_index.css">
</head>

<body bgcolor="#ebeae5">
<div id="body">
	<center>
		<h1>部门设置</h1>
		<table>
			<tr>
				<td></td>
				<td><img src="/static/index/img/depart/3.png" style="top:0; right:0;">
					<a href="{% url 'index:intro_index' %}/wq"><div class="name">外联企划小组</div></a>
                </td>
				<td></td>
			</tr>
			<tr>
				<td><img src="/static/index/img/depart/9.png" style="top:0; left:20%;">
					<a href="{% url 'index:intro_index' %}/cw"><div class="name">财务部</div></a></td>
				<td><img src="/static/index/img/depart/7.png" style="right:10%; bottom:40px;">
					<a href="{% url 'index:intro_index' %}/st"><div class="name">社团部</div></a></td>
				<td><a href="{% url 'index:intro_index' %}/wl"><div class="name">外联部</div></a></td>
			</tr>
			<tr>
				<td><a href="{% url 'index:intro_index' %}/ms"><div class="name">秘书部</div></a></td>
				<td><img src="/static/index/img/depart/5.png" style="left:15%; bottom:40px;">
					<a href="{% url 'index:intro_index' %}/xc"><div class="name">宣传部</div></a></td>
				<td><img src="/static/index/img/depart/4.png" style="right:15%; bottom:40px;">
					<a href="{% url 'index:intro_index' %}/mt"><div class="name">媒体部</div></a></td>
			</tr>
			<tr>
				<td><img src="/static/index/img/depart/1.png" style="top:5%; right:35px;">
					<a href="{% url 'index:intro_index' %}/rl"><div class="name">人力资源部</div></a></td>
				<td><img src="/static/index/img/depart/2.png" style="right:50%; bottom:40px;">
					<a href="{% url 'index:intro_index' %}/gx"><div class="name">公共关系部</div></a></td>
				<td><a href="{% url 'index:intro_index' %}/wy"><div class="name">文艺拓展部</div></a></td>
			</tr>
			<tr>
				<td><img src="/static/index/img/depart/8.png" style="right:55%; bottom:40px;">
					<a href="{% url 'index:intro_index' %}/xz"><div class="name">行政监察部</div></a></td>
				<td><a href="{% url 'index:intro_index' %}/sc"><div class="name">思存工作室</div></a></td>
				<td><img src="/static/index/img/depart/6.png" style="right:10%; bottom:40px;">
					<a href="{% url 'index:intro_index' %}/xm"><div class="name">新媒体工作室</div></a></td>
			</tr>
            <tr>
                <td><a href="#" onclick="javascript:history.back(-1);">返回上一页</a></td>
                <td>&nbsp;</td>
                <td><a href="{% url 'join:join_submit' %}">去报名</a></td>
            </tr>
		</table>
	</center>
</div>
</body>
</html>
