<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>修改信息</title>
    <link rel="stylesheet" href="/static/join/css/save_success.css">
    <style>
        * {
            font-family: 微软雅黑;
        }
        input {
            background: transparent;
	        border: 0px;
            border-bottom: #d2d2d2 2px solid;
            font-size: 16px;
            line-height: 24px;
        }
        .input-group {
            padding-bottom: 10px;
        }
    </style>
</head>

<body bgcolor="#ebeae5">
<div id="body">
	<center>
	 <h1>修改信息</h1>
	 <form action="{% url 'join:edit_handler' %}" method="post">
        <div class="input-group">
            <label for="">姓名</label><input type="text" name="name">
        </div>
        <div class="input-group">
            <label for="">电话</label><input type="text" name="phone">
        </div>
        {% csrf_token %}
        <div>
            <button type="submit">确定</button>
        </div>
    </form>
	</center>
</div>
</body>
</html>
