<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>学生社团联合会秋季招新</title>
    <link rel="stylesheet" href="/static/index/css/index.css">
</head>
<body bgcolor="#ebeae5">
<div id="body">
	<center>
		<h1>学生社团联合会秋季招新</h1>
		<h1 class="en">IF YOU WANT TO BE<br>
			A HERO</h1>
		<img src="/static/index/img/hero.png">
		<h1 class="en">JOIN US NOW</h1>
		<div id="bottom">
            <table style="width: 95%; text-align: center">
                <tr>
                    <td width="33%">
                        <a href="{% url 'index:intro_index' %}">围观</a>
                    </td>
                    <td width="33%">
                        <a href="{% url 'join:edit_index' %}">查询</a>
                    </td>
                    <td width="33%">
                        <a href="{% url 'join:join_submit' %}">报名</a>
                    </td>
                </tr>
            </table>
        </div>
	</center>
</div>
</body>
</html>