<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>所有报名信息</title>
</head>
<body>
<div>欢迎你，<a href="{% url 'control:logout_handler' %}">退出登录</a></div>
<table>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>性别</th>
        <th>电话</th>
        <th>邮件</th>
        <th>部门1</th>
        <th>部门2</th>
        <th>提交时间</th>
        <th>上次修改</th>
        <th>操作</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.sex }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.mail }}</td>
        <td>{{ item.depart1 }}</td>
        <td>{{ item.depart2 }}</td>
        <td>{{ item.created_time|date:'Y-m-d H:i:s' }}</td>
        <td>{{ item.last_modified_time|date:'Y-m-d H:i:s' }}</td>
        <td>
            <form action="{% url 'control:download_word' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cid" value="{{ item.cid }}">
                <button type="submit">下载</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
</body>
</html>